<div class="app-wrapper">
  <div class="table-responsive">
    <table class="table">

      <!-- Grid header -->
      <tr>
        <td *ngFor="let column of accountCashData.gridHeaderColumns" (click)="sortColumn(column)" class="col-md-6"
        [ngClass]="{
          'column-sorted': sortedOn === column.columnId,
          'column-not-sorted': sortedOn !== column.columnId,
          'text-right': column.columnId === 'cash-and-change'
        }">
          <span class="glyphicon" [ngClass]="{
            'glyphicon-sort-by-attributes': (sortedOn == column.columnId && sortedDirection === 'asc'),
            'glyphicon-sort-by-attributes-alt': (sortedOn == column.columnId && sortedDirection === 'desc')
          }"></span>
          <span [innerHTML]="column.columnName"></span>
        </td>
      </tr>

      <!-- Grid data -->
      <tr *ngFor="let data of accountCashData.accountCash; let i = index" [hidden]="!loadAllValues && i > (accountCashData.recordsOnInitialLoad - 1)">
        <td class="col-md-6 color-blue"><strong>{{data.account}}</strong></td>
        <td class="col-md-6 text-right">
          <div>{{data.availCash | currency: 'USD': true}}</div>
          <div class="text-small" [ngClass]="{
            'color-red' : (data.todayChangePerc < 0),
            'color-green' : (data.todayChangePerc > 0),
            'color-grey' : (data.todayChangePerc == 0) }">
            {{data.todayChangePercStr}}% / {{data.todayChange | currency: 'USD': true}}
          </div>
        </td>
      </tr>
      <tr>
         <td colspan=2 (click)="loadMoreOrLess()" class="color-blue" align="center">{{moreRecordsText}}</td>
      </tr>
    </table>
  </div>
</div>
