$blue-color : #3498DB;
$font-size: 16px;
html, body{
    height: 100%;
    font-size: $font-size;
    background-color: $blue-color;
}

.app-wrapper{
    padding: 15px;
    height: 100%;
    max-width: 500px;
    margin: auto;
}
.table{
    background-color: white;
    td{
      width: 50%;
    }
    .text-right{
      text-align: right;
    }
}
.text-small{
  font-size: $font-size * 0.75;
}
.color-grey{
  color: grey;
}
.color-blue{
  color: $blue-color;
}
.color-red{
  color: red;
}
.color-green{
  color: green;
}

.column-sorted{
  background-color: #ccc;
}
.column-not-sorted{
  background-color: #ddd;
}
